@font-face {
  font-family: "Opensans-regular";
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: "Opensans-bold";
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/opensans-extrabold-webfont.woff') format('woff');
}
@font-face {
  font-family: "Opensans-italic";
  src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'),
  url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
}
@font-face {
  font-family: "Opensans-semibold";
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
  url('../fonts/opensans-semibold.woff') format('woff');
}
/*reset*/
body, div, p, h1, h2, h3, span, ul, li, a, img, strong {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
  text-decoration: none;
}
/*reset*/
.webDefault_bor_rad {
  border-radius: 4px;
}
.bxz {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.flt-lf {
  float: left;
}

/*top head-------------------------------------------------*/
.header {
  height:80px;
  background: #76C7C0 url(../images/bg-ruler-up.png) repeat-x bottom;
  color: #fff;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 22px;
}
.web-logo{
  margin-left: 10px;
}
.M_font {
  font-size: 30px;
  font-family: "Opensans-bold";
  display: inline-block;
  /*padding-right: 5px;*/
}
.v_font {
  font-size: 25px;
  font-family: "Opensans-regular";
}
.head_menu {
  margin-left: 200px;
}
.head_menu_content {
  /*define style of span*/
  font-family: "Opensans-semibold";
  font-size: 13px;
  text-align: center;
  display: inline-block;
  padding-bottom: 3px;
  background: #76c7c0;
  position: relative;
  z-index: 1;
}
.head_menu_content a {
  padding: 8px 16px 8px 4px;
  background: #76c7c0;
  color: #fff;
  display: block;
}
.head_menu_content:hover {
  background: #528b86;
}
.head_menu_content a:hover {
  background: #62a29e;
}
.search {
  margin-top: 7px;
  margin-left: 26px;
  display: inline-block;
}
.subnav {
  position: absolute;
  top: 37px;
  padding-top: 9px;
  display: none;
}
.for-nav-i {
  padding-right: 10px;
}
.transparent-i {
  color: transparent;
}
.subnav-a {
  background: #e5655d;
}
.head_menu_content:hover .subnav {
  display: block;
}
.head_menu_content:hover .nav-btn {
  background: #62a29e;
}
.head_menu_content:hover .transparent-i {
  color: #fff;
}
.subnav div {
  background-color: #e2534b;
  border-radius: 5px;
  padding: 5px;
}
.subnav li {
  width: 190px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.subnav li.subnav-last-li {
  margin-bottom: 0;
} 
.subnav li a {
  padding: 8px 16px 8px 16px;
  background-color: #e5655d;
  display: block;
  border-radius: 5px;
  font-size: 13px;
  line-height: 14px;
  text-align: left;
}
.fa_ssearch {
  font-size: 16px;
}

/*gray blk-------------------------------------------------*/
.gray-blk {
  position: relative;
  height: 500px;
  background-color: #7f8c8c;
}

/*left right btn--------------------------*/
.gray-blk_left_btn_posi {
  position: absolute;
  top: 220px;
}
.gray-blk_right_btn_posi {
  position: absolute;
  top: 220px;
  right: 0px;
}
.gray-blk_leftright_btn_w_h {
  width:50px; 
  height:57px;
}
.gray-blk_leftright_btn_color {
  background-color: #e8645a;
  color: #fff;
}
.gray-blk_leftright_btn_bor_sha{
  -webkit-box-shadow: 0px 3px  rgba(226, 83, 75, 1);
          box-shadow: 0px 3px  rgba(226, 83, 75, 1);
}
.gray-blk_right_btn_bor_rad{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*double-angle*/
.double-angle {
  font-size: 40px;
  display: block;
  padding: 10px;
}
/*gray middle content----------------------------*/
.gray-blk-wrapper {
  position: relative;
  width: 1170px;
  height: 525px;
  margin: 0 auto;
  padding-top: 162px;
}
.gray-blk_mid_logo {
  width:346px; 
  height:50px;
  margin: 0 auto 10px;
  background-color: #e2534b;
  color: #fff;
}
.gray-blk_mid_logo_text {
  font-size: 50px;
  text-align: center;
  font-family: "Opensans-bold";
  line-height: 50px;
  font-weight: bold;
}
.gray-blk_mid_desc {
  width:470px; 
  height:71px;
  margin: 0 auto;
  background-color: #3f4646;
  color: #fff;
}
.gray-blk_mid_desc_text {
  font-size: 16px;
  text-align: center;
  font-family: "Opensans-regular";
  line-height: 26px;
  padding: 8px;
}
/*gray block scroll box-------------------------------------*/
.scroll-box-wrapper {
  position: absolute;
  top: 525px;
  z-index: 1;
  width: 1170px;
}
.scroll_box {
  width:210px; 
  height:5px;
  margin: 0 auto;
}
.scroll_box_li {
  width:60px; 
  height:5px;
  float: left;
  margin-right: 10px;
}
.scroll_box_li_color {
  background-color: #b0b8b9;
}
.scroll_box_li_color:hover {
  background-color: #e2534b;
}

/*services block---------------------------------------------------*/
.serv_blk {
  position: relative;
  height:590px;
  background-color: #f3f3f3;
  /*color: #fff;*/
}
.serv-blk-wrapper {
  width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
}
/*service profile---------------------------------------*/
.serv-profile {
  width:1170px; 
  height:100px;
  padding: 22px 34px 22px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  background-color: #ececec;
  position: relative;
}
.serv_title {
  font-size: 30px;
  color: #7f8c8c;
  font-family: "Opensans-regular";
  font-weight: bold;
}
.serv_desc {
  font-family: "Opensans-regular";
  font-size: 13px;
  color: #7f8c8c;
}

/*service view more-----------------------*/
.serv_viewmore {
  width:200px; 
  height:50px;
  float: right;
  background-color: #e8645a;
  -webkit-box-shadow: 0 3px rgba(226,83,75,1);
          box-shadow: 0 3px rgba(226,83,75,1)
}
.serv-viewmore-text {
  text-align: center;
  line-height:50px;
  color:  #fff;
  font-family: "Opensans-regular";
  font-weight: bold;
}


/*top service list-------------*/
.top-service-list {
  height:310px;
  margin-top: 50px;
  
}
.service-list-spacing {
  width: 30px;
  height: 310px;
  float: left;
}
/*service box--------------*/
.top-service-box {
  width:270px; 
  height:310px;
  float: left;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 4px rgba(229,230,230,1);
          box-shadow: 0 4px rgba(229,230,230,1);
}
.top-service-box:hover .top-service-fa-box {
  color: #e2534b;
}
.top-service-box:hover .readmore-btn {
  background: #e8645a;
  -webkit-box-shadow: 0 4px rgba(226,83,75,1);
          box-shadow: 0 4px rgba(226,83,75,1); 
}
/*service content box---------------*/
.top-service-fa-box {
  display: block;
  width: 60px;
  font-size: 60px;
  color: #62bdbd;
  margin: 45px auto 9px;
}
.fa-word {
  display: block;
  font-size: 16px;
  font-family: "Opensans-bold";
  text-align: center;
  color: #3f4646;
  margin: 0 auto 30px;
}
.top-service-text {
  text-align: center;
  font-size: 13px;
  font-family: "Opensans-regular";
  color: #3f4646;
  padding: 0 12px;
}
/*service button--------*/
.readmore-btn {
  width:200px; 
  height:50px;
  position: absolute;
  left: 38px;
  bottom: -23px;
  -webkit-box-shadow: 0 4px rgba(98,185,176,1);
          box-shadow: 0 4px rgba(98,185,176,1);
  background-color: #76c7c0;
} 
.readmore-btn-text {
  text-align: center;
  line-height: 50px;
  color: #fff;
}


/*why top half------------------------------*/
.why-top-half {
  height:400px;
  background: #ececec url(../images/bg-ruler-down.png) repeat-x top;
}
.why-top-half-wrapper {
  width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 65px;
  position: relative; 
}

/*MIDDLE LOGO*/
.WMV_logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-family: "Opensans-semibold";
  color: #e1524b;
}
.WMV_logo_desc {
  display: block;
  margin: 7px auto 68px;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  font-family: "Opensans-regular";
  color: #777777;
}
/*why photo frame--------------*/
.why_middle_frame {
  position: relative;
  z-index: 2;
  width:570px; 
  height:361px;
  background-color: #c1c7c8;
  margin: 0 auto;
} 

.pht_frame_decorate_left {
  position: absolute;
  left: 14px;
  top: 16px;
}
.pht_frame_decorate_left_contemt {
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  float: left;
  margin-right: 6px
}
.pht_frame_decorate_right_contemt {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 18px;
  height: 6px;
  background: #fff;
  border-radius: 3px; 
}

/*why photo content--------*/
.why_middle_content {
  position: absolute;
  left: 5px;
  top: 47px;
  width:560px; 
  height:310px;
  background-color: #7f8c8c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 55px 180px;
}


/*left/right side------------------*/
.why_lr_content_alt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 72px 100px 0;
  font-size: 28px;
  font-weight: bold;
  font-family: "Opensans-regular";
  color: #fff;
}
/*---left---------------*/
.why_left_frame {
  width:370px; 
  height:260px;
  background-color: #b0b8b9;
  position: absolute;
  top: 255px;
  left: 0;
  z-index: 1;
} 
.why_left_content {
  width:360px; 
  height:213px;
  background-color: #62b9b0;
  position: absolute;
  left: 5px;
  top: 42px;
}
/*---right------------- */
.why_right_frame {
  width:370px; 
  height:260px;
  background-color: #b0b8b9;
  position: absolute;
  top: 255px;
  right: 0;
  z-index: 1;
} 
.why_right_content {
   width:360px; 
  height:213px;
  background-color: #62b9b0;
  position: absolute;
  right: 5px;
  top: 42px;
}

/*why down half*/
.why-down-half {
  height:682px;
  background-color: #f3f3f3;
  /*color: #fff;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 214px;
}
.why-down-half-wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}


/*left section*/
.left_text {
  width: 270px;
  float: left;
  margin-right: 30px;
  margin-bottom: 35px;
}
.WCU {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #7f8c8c;
  font-family:"Opensans-bold";
  margin-bottom: 38px;
}
.reason_list {
  width: 270px;
}
.reason_list_content {
  margin-bottom: 14px;
  line-height: 13px; 
}
.arrow_style {
  font-size: 12px;
  font-weight: bold;
  color: #e1524b;
  margin-right: 6px;
}
.reason_list_text {
  font-size: 13px;
  font-family: "Opensans-regular";
  color: #777777;
}
/*middle section*/
.middle_text {
  float: left;
  width: 570px;
}
.sum-box {
  padding: 0 22px 0;
  margin-bottom: 52px;
}
.middle_sum_text {
  font-size: 13px;
  color: #777777;
  font-family:"Opensans-regular";
  line-height: 13px;
  display: block;
  padding-bottom: 10px;
}
.red_underline {
  color: #e1524b;
  text-decoration: underline;
}
.point_list {
  width: 570px;
  height: 58px;
  margin: 0 auto 22px;
}
.point_list_li {
  width: 120px;
  height: 58px;
  margin:0 10px 0;
  float: left;
}
.point_list_content {
  width: 120px;
  height: 58px;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
  font-size: 30px;
  font-family: "Opensans-bold";
  color: #7f8c8c;
}
.bg50 {
  background-image: url('../images/50circle.png');
  background-repeat: no-repeat;
}
.bg70 {
  background-image: url('../images/70circle.png');
  background-repeat: no-repeat;
}
.bg80 {
  background-image: url('../images/80circle.png');
  background-repeat: no-repeat;
}
.bg100 {
  background-image: url('../images/100circle.png');
  background-repeat: no-repeat;
}
.word_list {
  width: 570px;
  height: 16px;
  margin: 0 auto;
}
.word_box {
  width: 120px;
  font-family: "Opensans-bold";
  font-size: 16px;
  line-height: 16px;
  color: #7f8c8c;
  text-align: center;
  float: left;
  margin: 0 10px 0;
}
/*right text*/
.right_text {
  width: 300px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 27px;
}
.WCS {
  display: block;
  font-size: 16px;
  font-family: "Opensans-bold";
  line-height: 16px;
  color: #7f8c8c;
  margin-bottom: 25px;
}
.comment {
  width: 270px;
  height: 120px;
  background: #fff;
  font-family: "Opensans-italic";
  font-size: 13px;
  color: #777777;
  line-height: 13px;
  margin-left: 4px;
  padding: 9px 17px 8px;
  position: relative;
}
.regular {
  font-family: "Opensans-regular";
}
.little_tri {
  position: absolute;
  top: 120px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 26px solid #fff;
  border-left: 26px solid transparent;  
}
.Doe {
  position: absolute;
  top: 130px;
  left: 60px;
  width: 72px;
  font-family: "Opensans-semibold";
  font-size: 16px;
  color: #777777;
  line-height: 16px;
}
.bottom_text {
  clear: left;
  height: 40px;
  position: relative;
  margin-bottom: 40px;
}
.OHC {
  display: inline-block;
  font-family: "Opensans-bold";
  font-size: 16px;
  line-height: 16px;
  color: #7f8c8c;
  padding-top: 10px;
}
.line_ball {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 165px;
  top: 17px;
  background: #e1e2e2;
}
.line {
  width: 880px;
  height: 1px;
  position: absolute;
  left: 171px;
  top: 20px;
  border-top: 1px solid #e1e2e2;
}
.two_btn {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.lr_btn {
  width: 40px;
  height: 37px;
  position: absolute;
  background: #98a3a3;
  -webkit-box-shadow: 0 3px rgba(127,140,140,1);
          box-shadow: 0 3px rgba(127,140,140,1);
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 10px 0 7px;
}
.lr_btn:hover {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #e2534b;
  -webkit-box-shadow: 0 0px rgba(127,140,140,0);
          box-shadow: 0 0px rgba(127,140,140,0);
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 10px 0 10px;
}
.r_posi {
  left: 60px;
}
/*jquery images*/
.bottom-images-list {
  height: 90px;
}
.bottom-images-list-spacing {
  width: 30px;
  height: 90px;
  float: left;
}
.bottom-images-list-content {
  height:90px;
  width: 170px;
  background: #fff;
  padding: 32px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*footer!!!*/
.footer {
  height:350px;
  position: relative;
  background: url(../images/bg-ruler-down.png) repeat-x #76c7c0;
  color: #fff;
  padding-top: 45px;
}
.footer-wrapper {
  display: block;
  width: 1170px;
  margin: 0 auto;

}
.company-information{
  width:370px;
  height: 300px;
  margin-right: 30px;
}
.bottom-web-logo {
  margin-bottom: 28px;
  line-height: 30px;
}
.company-profile {
  font-family: "Opensans-regular";
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 30px;
}
.company-ph-em div {
  line-height: 20px;
  margin-bottom: 10px;
}
.ex-font {
  font-family: "Opensans-regular";
  font-size: 13px;
  color: #fff;
  vertical-align: middle; 
}
.suf-font {
  font-family: "Opensans-italic";
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  /*font-style: italic;*/
  font-weight: bold;
  vertical-align: middle;
}
/*company list*/
.company-community-nag {
  width: 170px;
  margin-right: 30px;
}
.Company-Community {
  font-family: "Opensans-bold";
  font-size: 20px;
  color: #497e79;
  margin-bottom: 30px;
}
.company-list {
  padding-left: 23px;
}
.company-list-line {
  margin-bottom: 6px;
}
.line-content {
  font-family: "Opensans-regular";
  font-size: 13px;
  margin-left: 8px
}
/*community list*/
.community-list {
  padding-left: 23px;
}
.community-list-line {
  margin-bottom: 6px;
}
/*from blog*/
.from-the-blog {
  width: 370px;
}
.ftB {
  color: #fff;
  margin-bottom: 24px;
}
.ex-ft {
  font-family: "Opensans-italic";
  font-size: 20px;
}
.suf-B {
  font-family: "Opensans-bold";
  font-size: 20px;
}
.blog {
  width: 370px;
  height: 70px;
  margin-bottom: 20px;
}
.img-box {
  width: 70px;
  height: 70px;
  background: #5e9f9a;
  padding: 20px;
  font-size: 30px;
  color: #bad3d1;
  margin-right: 18px;
}
.blog-content {
  font-family: "Opensans-regular";
  font-size: 13px;
  margin: 0;
}
.blog-time {
  font-family: "Opensans-regular";
  font-size: 13px;
  color: #4f8883;
}
.bottom-bar {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 1170px;
  background: #6ab3ac;
  z-index: 1;
}
.bottom-logo {
  font-family: "Opensans-regular";
  font-size: 12px;
  line-height: 50px;
  float: left;
  margin-left: 3px;
}
.social-software-list {
    margin-top: 5px;
    float: right;
    /*width: 140px;*/
    /*height: 23px;*/
}
.social-software {
  float: left;
  margin: 0 13px 0;
  line-height: 50px;
}
.ss-font-size {
  font-size: 25px;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #6ab3ac;
}


