#header1 {
  position: relative;
  width:1500px; 
  height:80px;
  background-color: #76c7c0;
  color: #fff;
}

#head_webName {
  position: absolute; 
  left: 163px; 
  top: 0;
  width: 270px; 
  height: 80px;
}

#M_font {
  font-size: 21px;
  line-height: 80px;
}

#v_font {
  font-size: 13px;
}

#head_home {
  position:absolute; 
  left: 563px; 
  top:25px;
  width: 70px; 
  height: 30px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  background-color: #62a29e;
  box-shadow: 0 3px rgba(82,139,134,1);
}

#head_menu {
  position: absolute; 
  left: 633px; 
  top: 0;
  width: 700px; 
  height: 80px;
}

/*the following is menu button*/
#abo {
  position: absolute; 
  left: 27px;
  height: 80px;
  width: 46px;
  font-size: 9px;
  line-height: 80px;
  /*text-align: center;*/
}

#ser {
  position: absolute; 
  left: 126px;
  height: 80px;
  width: 56px;
  font-size: 9px;
  line-height: 80px;
  /*text-align: center;*/
}

#port{
  position: absolute; 
  top: 25px; 
  left: 205px;
  width: 120px; 
  height: 30px;
  font-size: 9px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
}

#port:hover {
  position: absolute; 
  top: 25PX; 
  left: 205px;
  width: 120px; 
  height: 30px;
  font-size: 9px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 3px rgba(226,83,75,1);
  background:url(head_images/DropDownArrow.gif) #e8645a no-repeat top 13px left 15px;
  border-radius: 3px;
}

#blo {
  position: absolute; 
  left: 126px;
  height: 80px;
  width: 34px;
  font-size: 9px;
  line-height: 80px;
  /*text-align: center;*/
}